section.wrapper {
    background: #efefef;
}

.car-grid {
    padding: 0 8%;
    min-height: 70vh;
    padding-top: 5%;
    .car-item {
        width: 250px;
        height: 220px;
        display: inline-block;
        margin: 5px;
        background: white;
        .img {
            height: 70%;
            background: {
                size: cover;
                repeat: no-repeat;
                position: center;
            }
        }
        .name {
            height: 30%;
            font-size: 15px;
            font-weight: 600;
            text-align: center;
        }
    }
}