$light-blue: #1976d2;
body {
  background: #F3F3F3;
}

section.content {
  margin-left: 18%;
  width: 82%;
  min-height: 500px;
  position: relative;
  header {
    border-bottom: 1px solid #d3d3d3;
    background: #1976D2;
    padding: 15px;
    color: #fff;
    font-size: 20px;
    p {
      margin: 0;
    }
  }
  div.head {
    margin: 10px 0;
    padding: 0 15px;
    * {
      display: inline-block;
    }
    a.modal-trigger {
      float: right;
    }
    p {
      font-size: 18px;
      color: $light-blue;
    }
  }
  .item-props {
    padding-left: 14px;
    background: #f8f8f8;
    span {
      font-size: 16px;
//      display: block;
      &:first-of-type {
        font-weight: 600;
      }
    }
  }
}

.buttonset {
  padding: 5px;
  display: block;
  margin: 0;
  padding-left: 0;
  i {
    width: 30px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    border: 1px solid silver;
    background: #fff;
    border-radius: 50%;
  }
}

.side-nav.fixed {
  width: 18%;
  .logo-wrapper {
    padding: 20px;
    background: $light-blue;
    div.logo {
      background: url(../img/home/gosarp-white.png) no-repeat center;
      background-size: contain;
      height: 100px;
    }
  }
  i.fa {
    position: absolute;
    margin: 16px;
  }
  .collapsible-header {
    padding-left: 50px;
    color: #4e4e4e;
    &.active {
      background-color: $light-blue;
      color: #fff;
    }
  }
  li.label {
    padding: 0 17px;
    font-size: 13px;
    color: silver;
    line-height: 20px;
    margin-top: 20px;
  }
}

.user-info {
  padding: 10px;
  background: $light-blue;
  color: #fff;
  div.img {
    width: 60px;
    height: 60px;
    display: inline-block;
    border-radius: 50%;
    background: url(../img/home/landcruiser-v8.jpg) no-repeat center;
    background-size: cover;
    vertical-align: middle;
    margin-right: 5px;
  }
}

div.loader {
  width: 100%;
  height: 3px;
  position: fixed;
  top: 0;
  z-index: 10;
  .mover {
    width: 0;
    height: inherit;
    display: block;
    background: #F44336;
  }
}