body {
	background: url(../img/211.jpg) no-repeat center;
	background-size: cover;
	font-family: Roboto;
}

header {
	margin-top: 5%;
	div.logo {
		width: 250px;
		height: 60px;
		background: url(../img/home/gosarp-white.png) no-repeat center;
		background-size: contain;
		margin: 0 auto;
	}
}

.banner {
	width: 50%;
	min-height: 60%;
	margin: 5% auto;
	background: rgba(255, 255, 255, 0.96);
	padding: 5%;
	border-radius: 15px;
	text-align: center;
	.fa {
		border: 2px solid;
		padding: 15px;
		border-radius: 50%;
		color: #FDC601;
	}
	p {
		font-size: 20px;
		b {
			font-size: 2em;
		}
		span{
			color: #575757;
		}
		* {
			display: block;
		}
	}
	a {
		text-decoration: none;
		padding: 12px 18px;
		background: #FDC601;
		border-radius: 5px;
		color: #212121;
		margin: 2px;
		&:hover {
			box-shadow: 0 2px 5px 0 #0003, 0 2px 10px 0 #0000001a;
		}
	}
}

footer {
	text-align: center;
	color: #fff;
}

@media screen and (max-width: 750px) {
	body {
		height: 100vh;
	}
	header {
		margin-top: 10%;
		margin-bottom: 10%;
		div.logo {
			width: 200px;
			height: 30px;
		}
	}
	.banner {
		width: 80%;
		min-height: 50%;
		p {
			b {
				margin: 5% 0;
			}
			font-size: 15px;
			padding-bottom: 20%;
		}
	}
}

@font-face {
	font-family: "Roboto";
	src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.eot");
	src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
	font-weight: 400
}