/* line 1, ../sass/car-listings.scss */
section.wrapper {
  background: #efefef;
}

/* line 5, ../sass/car-listings.scss */
.car-grid {
  padding: 0 8%;
  min-height: 70vh;
  padding-top: 5%;
}
/* line 9, ../sass/car-listings.scss */
.car-grid .car-item {
  width: 250px;
  height: 220px;
  display: inline-block;
  margin: 5px;
  background: white;
}
/* line 15, ../sass/car-listings.scss */
.car-grid .car-item .img {
  height: 70%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
/* line 23, ../sass/car-listings.scss */
.car-grid .car-item .name {
  height: 30%;
  font-size: 15px;
  font-weight: 600;
  text-align: center;
}
