/* line 2, ../sass/dashboard.scss */
body {
  background: #F3F3F3;
}

.side-nav .view-btn{
  padding-left: 70px!important;
}
.stats{
    padding-left: 20px;
}
.stats .stat-panel{
    width: 230px;
    display: inline-block;
    background: blue;
    color: #fff;
    margin: 10px;
    padding: 15px 20px;
    border-radius: 5px;
}

.stats .stat-panel h2{
    display: inline;
}

.hd{
    padding: 15px;
    margin: 0px 0px 40px;
    background: white none repeat scroll 0% 0%;
    border-bottom: 1px solid silver;
    margin-bottom: 40px;
    font-size: 18px;
}

.hd a{
    display: block;
font-size: 15px;
color: silver;
}
p.error-message{
  font-size: 20px;
  padding: 20px;
}

/* line 6, ../sass/dashboard.scss */
section.content {
  margin-left: 18%;
  width: 82%;
  min-height: 500px;
  position: relative;
}
/* line 11, ../sass/dashboard.scss */
section.content header {
  border-bottom: 1px solid #d3d3d3;
  background: #fff;
  padding: 15px;
  color: #4b4b4b;
  font-size: 20px;
}
/* line 17, ../sass/dashboard.scss */
section.content header p {
  margin: 0;
  display: table-caption;
}
/* line 21, ../sass/dashboard.scss */
section.content div.head {
  margin: 10px 0;
  padding: 0 15px;
}
/* line 24, ../sass/dashboard.scss */
section.content div.head * {
  display: inline-block;
}
/* line 27, ../sass/dashboard.scss */
section.content div.head a.modal-trigger {
  float: right;
}
/* line 30, ../sass/dashboard.scss */
section.content div.head p {
  font-size: 18px;
  color: #4b4b4b;
}
/* line 35, ../sass/dashboard.scss */
section.content .item-props {
  padding-left: 14px;
  background: #f8f8f8;
}
/* line 38, ../sass/dashboard.scss */
section.content .item-props span {
  font-size: 16px;
}
/* line 41, ../sass/dashboard.scss */
section.content .item-props span:first-of-type {
  font-weight: 600;
}

/* line 48, ../sass/dashboard.scss */
.buttonset {
  padding: 5px;
  display: block;
  margin: 0;
  padding-left: 0;
}
/* line 53, ../sass/dashboard.scss */
.buttonset i {
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  border: 1px solid silver;
  background: #fff;
  border-radius: 50%;
}

/* line 64, ../sass/dashboard.scss */
.side-nav.fixed {
  width: 18%;
}
/* line 66, ../sass/dashboard.scss */
.side-nav.fixed .logo-wrapper {
  padding: 20px;
  background: #d21919;
}
/* line 69, ../sass/dashboard.scss */
.side-nav.fixed .logo-wrapper div.logo {
  background: url(../img/home/gosarp-white.png) no-repeat center;
  background-size: contain;
  height: 100px;
}
/* line 75, ../sass/dashboard.scss */
.side-nav.fixed i.fa {
  position: absolute;
  margin: 16px;
}
/* line 79, ../sass/dashboard.scss */
.side-nav.fixed .collapsible-header {
  padding-left: 50px;
  color: #4e4e4e;
}
/* line 82, ../sass/dashboard.scss */
.side-nav.fixed .collapsible-header.active {
  background-color: #d21919;
  color: #fff;
}
/* line 87, ../sass/dashboard.scss */
.side-nav.fixed li.label {
  padding: 0 17px;
  font-size: 13px;
  color: silver;
  line-height: 20px;
  margin-top: 20px;
}

/* line 96, ../sass/dashboard.scss */
.user-info {
  padding: 10px;
  background: #d21919;
  color: #fff;
}
/* line 100, ../sass/dashboard.scss */
.user-info div.img {
  width: 60px;
  height: 60px;
  display: inline-block;
  border-radius: 50%;
  background: url(../img/home/landcruiser-v8.jpg) no-repeat center;
  background-size: cover;
  vertical-align: middle;
  margin-right: 5px;
}

/* line 112, ../sass/dashboard.scss */
div.loader {
  width: 100%;
  height: 3px;
  position: fixed;
  top: 0;
  z-index: 10;
}
/* line 118, ../sass/dashboard.scss */
div.loader .mover {
  width: 0;
  height: inherit;
  display: block;
  background: #F44336;
}
