/* line 1, ../sass/reservation.scss */
.num-indicator {
  position: absolute;
  left: -45px;
  width: 30px;
  height: 30px;
  border: 1px solid #81d7ff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}
