/* line 1, ../sass/success.scss */
body {
  background: url(../img/211.jpg) no-repeat center;
  background-size: cover;
  font-family: Roboto;
}

/* line 7, ../sass/success.scss */
header {
  margin-top: 5%;
}
/* line 9, ../sass/success.scss */
header div.logo {
  width: 250px;
  height: 60px;
  background: url(../img/home/gosarp-white.png) no-repeat center;
  background-size: contain;
  margin: 0 auto;
}

/* line 18, ../sass/success.scss */
.banner {
  width: 50%;
  min-height: 60%;
  margin: 5% auto;
  background: rgba(255, 255, 255, 0.96);
  padding: 5%;
  border-radius: 15px;
  text-align: center;
}
/* line 26, ../sass/success.scss */
.banner .fa {
  border: 2px solid;
  padding: 15px;
  border-radius: 50%;
  color: #FDC601;
}
/* line 32, ../sass/success.scss */
.banner p {
  font-size: 20px;
}
/* line 34, ../sass/success.scss */
.banner p b {
  font-size: 2em;
}
/* line 37, ../sass/success.scss */
.banner p span {
  color: #575757;
}
/* line 40, ../sass/success.scss */
.banner p * {
  display: block;
}
/* line 44, ../sass/success.scss */
.banner a {
  text-decoration: none;
  padding: 12px 18px;
  background: #FDC601;
  border-radius: 5px;
  color: #212121;
  margin: 2px;
}
/* line 51, ../sass/success.scss */
.banner a:hover {
  box-shadow: 0 2px 5px 0 #0003, 0 2px 10px 0 #0000001a;
}

/* line 57, ../sass/success.scss */
footer {
  text-align: center;
  color: #fff;
}

@media screen and (max-width: 750px) {
  /* line 63, ../sass/success.scss */
  body {
    height: 100vh;
  }

  /* line 66, ../sass/success.scss */
  header {
    margin-top: 10%;
    margin-bottom: 10%;
  }
  /* line 69, ../sass/success.scss */
  header div.logo {
    width: 200px;
    height: 30px;
  }

  /* line 74, ../sass/success.scss */
  .banner {
    width: 80%;
    min-height: 50%;
  }
  /* line 77, ../sass/success.scss */
  .banner p {
    font-size: 15px;
    padding-bottom: 20%;
  }
  /* line 78, ../sass/success.scss */
  .banner p b {
    margin: 5% 0;
  }
}
@font-face {
  font-family: "Roboto";
  src: local(Roboto Regular), url("../fonts/roboto/Roboto-Regular.eot");
  src: url("../fonts/roboto/Roboto-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/roboto/Roboto-Regular.woff2") format("woff2"), url("../fonts/roboto/Roboto-Regular.woff") format("woff"), url("../fonts/roboto/Roboto-Regular.ttf") format("truetype");
  font-weight: 400;
}
