$blue: #26428e;
@mixin rounded-border($color) {
    margin: 10px 25px;
    background: transparent;
    border-radius: 21px;
    padding: 5px;
    text-align: center;
    border: 2px solid $color;
    color: $color;
}

body {
    margin: 0;
    font-family: open sans;
}

button::-moz-focus-inner {
    border: 0;
    outline: 0;
}

fieldset {
    border: none;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
}

header {
    height: 80px;
    background: #ffffff;
//    border-bottom: 1px solid #efefef;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    div.logo {
        width: 300px;
        height: 40px;
        margin: 20px 2%;
        background: url(../../img/home/gosarp-black.png) no-repeat center;
        background-size: contain;
        position: absolute;
    }
    nav {
        height: inherit;
        position: absolute;
        right: 0;
        ul.nav {
            padding: 0;
            height: inherit;
            line-height: 80px;
            li {
                display: inline-block;
                margin: 0 10px;
                &:hover {
                    color: $blue;
                }
                &:last-of-type {
                    @include rounded-border($blue);
                    border-radius: 0;
                    width: 90px;
                    line-height: normal;
                }
            }
        }
    }
}

section.wrapper {
    section.top {
        padding: 16%;
        background: url(../../img/home/toyota.jpg) no-repeat center;
        background-size: cover;
        background-attachment: fixed;
        aside {
            float: right;
            position: relative;
            z-index: 9;
            margin-top: -12%;
            height: 206px;
            width: 240px;
            background: #222222;
            &>p {
                font-size: 1.42857rem;
                color: white;
                text-align: left;
                padding: 18px;
                line-height: 18px;
                font-weight: 300;
            }
            &>a {
                display: block;
                transition: background ease-in 300ms;
                @include rounded-border(#ffffff);
                border-radius: 0;
                &:hover {
                    background: white;
                    color: #222;
                }
            }
        }
        div.img {
            background: url(../../img/home/landcruiser-v8.jpg) no-repeat center;
            background-size: cover;
        }
    }
    section.bottom {
        position: relative;
        height: 300px;
        h2,
        article {
            text-align: left;
            width: 60%;
            padding-left: 10%;
            font-weight: 300;
            box-sizing: border-box;
            padding-right: 10px;
        }
        h2 {
            font-size: 2rem;
            box-sizing: border-box;
            padding-top: 2%;
            margin-top: 0;
            color: #26428E;
        }
        article {
            font-size: 16px;
            line-height: 28px;
        }
        div.img {
            position: absolute;
            right: 0;
            top: 0;
            height: 300px;
            overflow: hidden;
            width: 40%;
            &:hover .img-container {
                transform: scale(1.2);
            }
            .img-container {
                background: url(../../img/home/landcruiser-v8.jpg) no-repeat center;
                height: 100%;
                width: 100%;
                transition: all ease-out 2s;
                transform: scale(1);
            }
            .border {
                position: absolute;
                left: 0;
                top: 0;
                width: 100%;
                border: 0 solid rgba(0, 0, 0, 0.64);
                height: 100%;
                transition: all ease-out 500ms;
                box-sizing: border-box;
                &:hover {
                    border-width: 12px;
                }
            }
        }
    }
}

.car-listings {
    background: rgb(241, 241, 241);
    ul {
        padding: 4% 10%!important;
    }
    li {
        width: 170px;
        padding: 12px;
        color: #fff;
        background: #222;
        border: 2px solid #222;
        display: inline-block;
        margin: 5px;
        text-align: center;
        em {
            font-size: 15px;
        }
        * {
            display: block;
        }
    }
}

.title {
    font-weight: 300;
    padding-top: 2%;
    font-size: 2rem;
    margin: 0;
    text-align: center;
    color: #26428E;
}

section.car-grid {
    text-align: center;
    background: #F1F1F1;
    hr {
        width: 20%;
        margin: 0 auto;
        border: 1px solid #222;
        border-bottom: none
    }
    .grid-item {
        width: 330px;
        display: inline-block;
        background: url(../../img/home/toyota.jpg) no-repeat center;
        background-size: cover;
        margin: 50px 10px;
        box-shadow: 0 2px 5px 0 #0003, 0 2px 10px 0 #0000001a;
        height: 220px;
        border: 2px solid #ffffff;
        position: relative;
        em {
            position: absolute;
            width: 100%;
            left: 0;
            color: #26428E;
            bottom: -31px;
        }
    }
}

section.contact {
    background: #ffffff;
    text-align: center;
    .det {
        width: 180px;
        height: 180px;
        border-radius: 15%;
        display: inline-block;
        text-align: center;
        font-size: 13px;
        vertical-align: top;
        margin: 3px 3%;
        i {
            margin-bottom: 0px;
            margin-top: 46px;
            font-size: 4em;
            color: $blue;
        }
        b {
            font-weight: bold;
            font-size: 18px;
            color: #222;
            display: block;
        }
        em {
            display: block;
            text-align: center;
            margin-top: 19px;
            padding: 0px 9%;
            color: $blue;
        }
    }
}

footer {
    background: #222222;
    padding: 2%;
    color: white;
    font-size: 14px;
    text-align: center;
}