$green: #12939A;
@mixin rounded-border($color) {
    margin: 10px 25px;
    background: transparent;
    border-radius: 21px;
    padding: 5px;
    text-align: center;
    border: 2px solid $color;
    color: $color;
}

body {
    margin: 0;
    background: #F3F3F3;
}

button::-moz-focus-inner {
    border: 0;
    outline: 0;
}

fieldset {
    border: none;
}

a {
    text-decoration: none;
    font-family: inherit;
    color: inherit;
}

p {
    margin: 0;
}

ul {
    list-style: none;
    margin: 0;
}

header {
    height: 80px;
    background: #ffffff;
    border-bottom: 1px solid #efefef;
    padding: 19px;
    box-sizing: border-box;
    div.logo {
        width: 300px;
        height: 40px;
        margin: 0 auto;
        background: url(../../img/home/gosarp-black.png) no-repeat center;
        background-size: contain;
    }
}

section.content-wrapper {
    width: 50%;
    margin: 0 auto;
}

.card-panel {
    position: relative;
}

.num-indicator {
    position: absolute;
    left: -45px;
    top: 2px;
    width: 30px;
    height: 30px;
    background: #fff;
    border: 1px solid #81d7ff;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
}