/* line 12, ../../sass/public/main.scss */
body {
  margin: 0;
  font-family: open sans;
}

/* line 17, ../../sass/public/main.scss */
button::-moz-focus-inner {
  border: 0;
  outline: 0;
}

/* line 22, ../../sass/public/main.scss */
fieldset {
  border: none;
}

/* line 26, ../../sass/public/main.scss */
a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

/* line 32, ../../sass/public/main.scss */
p {
  margin: 0;
}

/* line 36, ../../sass/public/main.scss */
ul {
  list-style: none;
  margin: 0;
}

/* line 41, ../../sass/public/main.scss */
header {
  height: 80px;
  background: #ffffff;
  box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}
/* line 46, ../../sass/public/main.scss */
header div.logo {
  width: 300px;
  height: 40px;
  margin: 20px 2%;
  background: url(../../img/home/gosarp-black.png) no-repeat center;
  background-size: contain;
  position: absolute;
}
/* line 54, ../../sass/public/main.scss */
header nav {
  height: inherit;
  position: absolute;
  right: 0;
}
/* line 58, ../../sass/public/main.scss */
header nav ul.nav {
  padding: 0;
  height: inherit;
  line-height: 80px;
}
/* line 62, ../../sass/public/main.scss */
header nav ul.nav li {
  display: inline-block;
  margin: 0 10px;
}
/* line 65, ../../sass/public/main.scss */
header nav ul.nav li:hover {
  color: #26428e;
}
/* line 68, ../../sass/public/main.scss */
header nav ul.nav li:last-of-type {
  margin: 10px 25px;
  background: transparent;
  border-radius: 21px;
  padding: 5px;
  text-align: center;
  border: 2px solid #26428e;
  color: #26428e;
  border-radius: 0;
  width: 90px;
  line-height: normal;
}

/* line 80, ../../sass/public/main.scss */
section.wrapper section.top {
  padding: 16%;
  background: url(../../img/home/toyota.jpg) no-repeat center;
  background-size: cover;
  background-attachment: fixed;
}
/* line 85, ../../sass/public/main.scss */
section.wrapper section.top aside {
  float: right;
  position: relative;
  z-index: 9;
  margin-top: -12%;
  height: 206px;
  width: 240px;
  background: #222222;
}
/* line 93, ../../sass/public/main.scss */
section.wrapper section.top aside > p {
  font-size: 1.42857rem;
  color: white;
  text-align: left;
  padding: 18px;
  line-height: 18px;
  font-weight: 300;
}
/* line 101, ../../sass/public/main.scss */
section.wrapper section.top aside > a {
  display: block;
  transition: background ease-in 300ms;
  margin: 10px 25px;
  background: transparent;
  border-radius: 21px;
  padding: 5px;
  text-align: center;
  border: 2px solid #ffffff;
  color: #ffffff;
  border-radius: 0;
}
/* line 106, ../../sass/public/main.scss */
section.wrapper section.top aside > a:hover {
  background: white;
  color: #222;
}
/* line 112, ../../sass/public/main.scss */
section.wrapper section.top div.img {
  background: url(../../img/home/landcruiser-v8.jpg) no-repeat center;
  background-size: cover;
}
/* line 117, ../../sass/public/main.scss */
section.wrapper section.bottom {
  position: relative;
  height: 300px;
}
/* line 120, ../../sass/public/main.scss */
section.wrapper section.bottom h2,
section.wrapper section.bottom article {
  text-align: left;
  width: 60%;
  padding-left: 10%;
  font-weight: 300;
  box-sizing: border-box;
  padding-right: 10px;
}
/* line 129, ../../sass/public/main.scss */
section.wrapper section.bottom h2 {
  font-size: 2rem;
  box-sizing: border-box;
  padding-top: 2%;
  margin-top: 0;
  color: #26428E;
}
/* line 136, ../../sass/public/main.scss */
section.wrapper section.bottom article {
  font-size: 16px;
  line-height: 28px;
}
/* line 140, ../../sass/public/main.scss */
section.wrapper section.bottom div.img {
  position: absolute;
  right: 0;
  top: 0;
  height: 300px;
  overflow: hidden;
  width: 40%;
}
/* line 147, ../../sass/public/main.scss */
section.wrapper section.bottom div.img:hover .img-container {
  transform: scale(1.2);
}
/* line 150, ../../sass/public/main.scss */
section.wrapper section.bottom div.img .img-container {
  background: url(../../img/home/landcruiser-v8.jpg) no-repeat center;
  height: 100%;
  width: 100%;
  transition: all ease-out 2s;
  transform: scale(1);
}
/* line 157, ../../sass/public/main.scss */
section.wrapper section.bottom div.img .border {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  border: 0 solid rgba(0, 0, 0, 0.64);
  height: 100%;
  transition: all ease-out 500ms;
  box-sizing: border-box;
}
/* line 166, ../../sass/public/main.scss */
section.wrapper section.bottom div.img .border:hover {
  border-width: 12px;
}

/* line 174, ../../sass/public/main.scss */
.car-listings {
  background: #f1f1f1;
}
/* line 176, ../../sass/public/main.scss */
.car-listings ul {
  padding: 4% 10% !important;
}
/* line 179, ../../sass/public/main.scss */
.car-listings li {
  width: 170px;
  padding: 12px;
  color: #fff;
  background: #222;
  border: 2px solid #222;
  display: inline-block;
  margin: 5px;
  text-align: center;
}
/* line 188, ../../sass/public/main.scss */
.car-listings li em {
  font-size: 15px;
}
/* line 191, ../../sass/public/main.scss */
.car-listings li * {
  display: block;
}

/* line 197, ../../sass/public/main.scss */
.title {
  font-weight: 300;
  padding-top: 2%;
  font-size: 2rem;
  margin: 0;
  text-align: center;
  color: #26428E;
}

/* line 206, ../../sass/public/main.scss */
section.car-grid {
  text-align: center;
  background: #F1F1F1;
}
/* line 209, ../../sass/public/main.scss */
section.car-grid hr {
  width: 20%;
  margin: 0 auto;
  border: 1px solid #222;
  border-bottom: none;
}
/* line 215, ../../sass/public/main.scss */
section.car-grid .grid-item {
  width: 330px;
  display: inline-block;
  background: url(../../img/home/toyota.jpg) no-repeat center;
  background-size: cover;
  margin: 50px 10px;
  box-shadow: 0 2px 5px 0 #0003, 0 2px 10px 0 #0000001a;
  height: 220px;
  border: 2px solid #ffffff;
  position: relative;
}
/* line 225, ../../sass/public/main.scss */
section.car-grid .grid-item em {
  position: absolute;
  width: 100%;
  left: 0;
  color: #26428E;
  bottom: -31px;
}

/* line 235, ../../sass/public/main.scss */
section.contact {
  background: #ffffff;
  text-align: center;
}
/* line 238, ../../sass/public/main.scss */
section.contact .det {
  width: 180px;
  height: 180px;
  border-radius: 15%;
  display: inline-block;
  text-align: center;
  font-size: 13px;
  vertical-align: top;
  margin: 3px 3%;
}
/* line 247, ../../sass/public/main.scss */
section.contact .det i {
  margin-bottom: 0px;
  margin-top: 46px;
  font-size: 4em;
  color: #26428e;
}
/* line 253, ../../sass/public/main.scss */
section.contact .det b {
  font-weight: bold;
  font-size: 18px;
  color: #222;
  display: block;
}
/* line 259, ../../sass/public/main.scss */
section.contact .det em {
  display: block;
  text-align: center;
  margin-top: 19px;
  padding: 0px 9%;
  color: #26428e;
}

/* line 269, ../../sass/public/main.scss */
footer {
  background: #222222;
  padding: 2%;
  color: white;
  font-size: 14px;
  text-align: center;
}
