/* line 12, ../../sass/public/reservation.scss */
body {
  margin: 0;
  background: #F3F3F3;
}

/* line 17, ../../sass/public/reservation.scss */
button::-moz-focus-inner {
  border: 0;
  outline: 0;
}

/* line 22, ../../sass/public/reservation.scss */
fieldset {
  border: none;
}

/* line 26, ../../sass/public/reservation.scss */
a {
  text-decoration: none;
  font-family: inherit;
  color: inherit;
}

/* line 32, ../../sass/public/reservation.scss */
p {
  margin: 0;
}

/* line 36, ../../sass/public/reservation.scss */
ul {
  list-style: none;
  margin: 0;
}

/* line 41, ../../sass/public/reservation.scss */
header {
  height: 80px;
  background: #ffffff;
  border-bottom: 1px solid #efefef;
  padding: 19px;
  box-sizing: border-box;
}
/* line 47, ../../sass/public/reservation.scss */
header div.logo {
  width: 300px;
  height: 40px;
  margin: 0 auto;
  background: url(../../img/home/gosarp-black.png) no-repeat center;
  background-size: contain;
}

/* line 56, ../../sass/public/reservation.scss */
section.content-wrapper {
  width: 50%;
  margin: 0 auto;
}

/* line 61, ../../sass/public/reservation.scss */
.card-panel {
  position: relative;
}

/* line 65, ../../sass/public/reservation.scss */
.num-indicator {
  position: absolute;
  left: -45px;
  top: 2px;
  width: 30px;
  height: 30px;
  background: #fff;
  border: 1px solid #81d7ff;
  text-align: center;
  line-height: 30px;
  border-radius: 50%;
}
